.titulo {
    font-family: var(--grot);
    text-align: center;
}

.formulario__subtitulo {
    font-family: var(--grot);
    font-size: 1em;
    text-align: center;
    margin-bottom: 15px;
}